# Email Configuration for OTP (Gmail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=bbekkawit@gmail.com
MAIL_PASSWORD=uzvijfatfrhyjpxk
MAIL_SENDER=NAgCO System <bbekkawit@gmail.com>

